@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body,html {
  margin: 0;
  padding: 0;
  background: #d0e7fe;
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #d0e7fe
  );
  background: linear-gradient(
    to right,
    #fffde4,
    #d0e7fe
  );

  font-family: "Ubuntu", sans-serif !important;
}

.card-title img{
  width: 100px !important;
  float: right !important;
}

.comenzar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#map {
  width: 300px;
  height: 300px;
}

.comenzar a {
  text-decoration: none !important;
  color: #ffffff !important;
  background-color: #297ff9;
  border-color: transparent;
  width: 150px !important;
  border-radius: 5px;
  padding: 10px;
}

iframe {
  max-width: 100%;
  height: 100%;
}

.p-descrip{
    font-size: 12px !important;
}

.cont-pagina{
    font-size: 15px !important;
    text-align: end;
}

